body{
  font-family: Arial, Helvetica;
  font-size:15px;
  line-height:1.5;
  padding: 0;
  margin:0;
  background-color:#F0FFFF;
}
/*global*/
.container{
  width:85%;
  margin:auto;
  overflow:hidden;
}
ul{
  padding:0;
  margin:0;
}
.btn{
  padding:7px;
  color: #ffffff;
  background-color:#015249;
  font-weight: bold;
  border-radius:5px;
  border-style:none;
  margin:5px;
}
/*header*/
header{
  background:linear-gradient(to bottom right,#77C9D4,#57BC90 );
  color: #FFFFFF;
  padding-top: 30px;
  min-height:70px;
  border-bottom:#015249 4px solid;
}
header a{
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size:17px;
}
header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #logo{
  float:left;
}
header #logo h1{
  margin:0;
}
header nav{
  float: right;
  margin-top:10px;
}
header .highlight, header .current a{
  color:#015249;
  font-weight: bold;
}
header a:hover{
  color: #FFF7C0;
  font-weight: bold;
}
/*showcase*/

#showcase{
  min-height: 400px;
  background:url('../img/boardshowcase.jpg') no-repeat -200px -200px;
  text-align: center;
  color:#ffffff;
  border-bottom: #77C9D4 10px solid;

}
#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom: 10px;
}
#showcase p {
  font-size: 20px;

}

/*boxes*/
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  width:30%;
  padding:10px;
  text-align: center;
  color: #015249;
}
#boxes .box img{
  width:90px;
}
footer{
  padding:1px;
  margin-top:20px;
  background: #66AB8C;
  color:#015249;
  text-align: center;
}
/* stats
.games{
  display:table;
  overflow: auto;
  clear: both;
}
*/
.games{
  display: flex;
  flex-direction: column;
}
.game{
  border-bottom: #015249 3px dotted;
  width:100%;
  display: flex;
}
.game .image{
  width: 15%;
  min-width: 100px;
  margin:10px;
}
img{
  width:100%;
}
.game .content{
  width:85%;
  margin:20px;
}
/*

.game .image{
  width: 15%;
  min-width: 100px;
  float:left;
  margin-right: 20px;


}
.game .image img{
  width:100%;

}
.game .content{
  width:85%;
  margin-left:20px;
}
.game .content li{
  list-style-type: none;
}
.game span{
  color:#015249;
  font-weight: bold;
}
*/
/*diary*/
#main-diary .container{
  display:flex;
  justify-content: space-between;

}
.btn-add{
  display:flex;
  flex-wrap: wrap;
}
aside #form-addgame{
  display:flex;
  flex-direction: column;
}
