body{
  font-family: Arial, Helvetica;
  font-size:15px;
  line-height:1.5;
  padding: 0;
  margin:0;
  background-color:#F0FFFF;
}
/*global*/
.container{
  width:85%;
  margin:auto;
  overflow:hidden;
}
span{
  color:#015249;
  font-weight: bold;
}
ul{
  padding:0;
  margin:0;
}
.btn{
  color: #ffffff;
  background-color:#015249;
  font-weight: bold;
  border-radius:5px;
  border-style:none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:10px 30px 10px 30px;
  margin:5px;
}
h3{
  margin:0;
}
/*header*/
header{
  background:linear-gradient(to bottom right,#77C9D4,#57BC90 );
  color: #FFFFFF;
  padding-top: 30px;
  min-height:70px;
  border-bottom:#015249 4px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
@media (max-width: 750px){
  header{
    flex-direction: column;
  }
  header nav{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}
header a{
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size:17px;
  margin:0 10px 0 10px;
}

header #logo{
  margin:0 30px;
}

header .highlight, header .current{
  color:#015249;
  font-weight: bold;
}
.hovered{
  color: #FFF7C0;
  font-weight: bold;

}
/*showcase*/

#showcase{
  min-height: 400px;
  background:url('../img/boardshowcase.jpg') no-repeat -200px -200px;
  text-align: center;
  color:#ffffff;
  border-bottom: #77C9D4 10px solid;

}
#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom: 10px;
}
#showcase p {
  font-size: 20px;

}

/*boxes*/
#boxes{
  margin-top:20px;
  display: flex;
  flex-direction: row;
}

#boxes .box{

  width:30%;
  padding:10px;
  text-align: center;
  color: #015249;
}
#boxes .box img{
  width:90px;
}
@media (max-width: 730px){
  #boxes{
    flex-direction: column;
    align-items: center;
  }
}
footer{
  padding:1px;
  margin-top:20px;
  background: #66AB8C;
  color:#015249;
  text-align: center;
}
/* stats */

.games{
  display: flex;
  flex-direction: column;
}
.game{
  border-bottom: #015249 3px dotted;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.game .gameimage{
  min-width: 150px;
  width:10%;
}
.gameimage img{
  width: 100%;
}

.game .content{
  margin:20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.content h3, .content h2{
  margin:0
}

/*diary*/
#main-diary .container{
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  flex-wrap:wrap;
}
.diarylogs{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top:10px
}
#diaryinfo{
  display: flex;
  flex-direction: column;
  margin-top:10px
}
.diarylogs img{
  width:20%;
  height: 20%;
  min-height: 80px;
  min-width: 80px;

}

}
.btn-add{
  padding:10px 30px 10px 30px;
  font-size: 20px;
}
.addnewgame img{
  margin-right: 5px;
}
aside .addnewgame{
  width:40%;
}
aside #form-addgame{
  display:flex;
  flex-direction: column;
  background: linear-gradient(to right,#57BC90 ,#77C9D4);
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: bold;
  margin: 10px;
}


.container #main-col{
  display: flex;
  flex-direction: column;
  width:60%;
}
#main-col #last{
  border-bottom: #015249 3px dotted;
  font-weight: bold;
}
.btnx{
  align-self: flex-end;
}
